<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Hashtags For All</title>
  <link rel="icon" href="/assets/icon.png">
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="stylesheet" href="/css/layout.css"/>
</head>
<body>
<header>
  <div class="title-flex">
    <h1>Hashtags</h1>
  </div>
  <div class="hashtags-flex">

    <li class="hashtags" th:each="post: ${hashtag.posts}">
      <div>
      <a th:href="'/posts/' + ${post.id}" th:text="${post.title}"></a>
      </div>
    </li>
  </div>
</header>
</body>
</html>